.container {
  padding: 0 2rem;
}
.layout{
  margin: 15px;
  
}
.card{
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}
.footer{
  background-color: lightblue; 
  margin: 0 20px 0 20px;
}
.layout ol{
  display: grid;
  margin-top: -4rem;
  grid-template-columns: 1fr auto auto;
}
.layout ol li{
  text-align:right;
  list-style-type: none;
  margin: 0.5rem
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}



/* .homepage{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
} */
.logotext {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: -20px;
  font-size: 30px;
  text-align: center;
}
  