.container {
  padding: 0 2rem;
}
.layout{
  margin: 15px;
  
}
.card{
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}
.footer{
  background-color: lightblue; 
  margin: 0 20px 0 20px;
}
.layout ol{
  display: grid;
  margin-top: -4rem;
  grid-template-columns: 1fr auto auto;
}
.layout ol li{
  text-align:right;
  list-style-type: none;
  margin: 0.5rem
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.logotext {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: -20px;
  font-size: 30px;
  text-align: center;
}

.card_index{
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: aliceblue;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
/* @media only screen and (max-width: 420px) {
  .card_container {
    background-color: green;
  }
  .card_index{
    align-items: center;
    margin-left: 62px;
  }
} */


.card_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1px 1px;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap; 
}